body {
    background-image: url('assets/background8.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url('/assets/background.png');
    background-color: black;
    background-size: cover;
}
#beetlemorph, #rhinomorph, #player, #player_jets {
    display: none;
}

#canvas1.level-1 {
    background: url('/assets/background.png');
    background-color: black;
    background-size: cover;

}

#canvas1.level-2 {
    background: url('/assets/background2.png');
    background-size: cover;
}
#canvas1.level-3 {
    background: url('/assets/background7.png');
    background-size: cover;
}
#canvas1.level-4 {
    background: url('/assets/background4.png');
    background-size: cover;
}
#canvas1.level-5 {
    background: url('/assets/background5.png');
    background-size: cover;
}
#canvas1.level-6 {
    background: url('/assets/background6.png');
    background-size: cover;
}
#canvas1.level-7 {
    background: url('/assets/background7.png');
    background-size: cover;
}
#canvas1.level-8 {
    background: url('/assets/background8.png');
    background-size: cover;
}
#canvas1.level-9 {
    background: url('/assets/background9.png');

}
#canvas1.level-10 {
    background: url('/assets/background10.png');
    background-size: cover;
}